#
# supervisor template
#

[program:{{ app.name }}]

command      = java -Xmx{{ app.xmx }}m -Xms{{ app.xmx }}m -jar crypto-{{ app.name }}.jar
environment  = {% for k, v in env.items() %}{{ k }}="{{ v }}",{% endfor %}ENV="{{ profile }}"
directory    = /srv/cryptoexchange/{{ app.name }}
user         = www-data
startsecs    = 10
startretries = 10

redirect_stderr         = true
stdout_logfile_maxbytes = 50MB
stdout_logfile_backups  = 10
stdout_logfile          = /var/log/supervisor/{{ app.name }}.log
